body {
  background-color: darkblue
}

h1 {
  color:wheat;
  font-family: impact;
  font-size:44px
}
.flex-container {
  display:flex;
  justify-content:center

}

#header {
 align-items: center;
 flex-direction: column;
}

#gameStatus, #instruction-box , .level-box{
  border-style:solid;
  border-width:1px;
  border-color:wheat;
  border-radius: 10px;
  background-color: orangered;
  color:wheat;
  padding:5px
}

#info-box{
  justify-content: space-evenly;
  
}

.bluebox {
  height:75px;
  width:75px;
  border-style:solid;
  border-width: 2px;
  border-color: rgb(6, 0, 0);
  border-radius: 10px;
  background-color: blue;
  margin:10px;
  padding:auto;
  font-family: Impact;
  font-size: 30px;
  color:wheat;
  text-align: center;
  line-height: 75px;

}

button {
   
   font-size:20px;
   background-color: red;
   color:white
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  gap: 10px; /* Adjust the gap between boxes */
}

.row {
  display: flex;
  justify-content: center; /* Center align boxes horizontally */
  gap: 10px; /* Adjust the gap between boxes within a row */
}
